.installment-wrapper  {
	margin:10px 0px;
	padding:20px;	
	display:none;
}

.installment-wrapper .fieldset-legend {
	background:none;
	padding:0;
}

.installment-wrapper.active {
	display:block;
}

.form-item-panes-payment-details-use-installment label {	
	margin-top:-22px;
	margin-left:20px;
	display:block;
	margin-bottom:20px;
}

.installment-type-wrapper {
	margin:10px 0px;
	padding:10px 0px;
	border:none;
}

.installment-type-wrapper .form-type-radios {
	padding:5px 0px;
	display:none;
}
